<div class="container">
  <div class="row-fluid">
    <span class="span3"></span>
    <span class="span6">
      <div class="pull-center pull-center-1">
        <h1 class="heading pull-center">Blocitoff</h1>
        <p>A self-destruction to-do list to keep you focused on the things that really matter.</p>
      </div>
    </span>
    <span class="span3"></span>
  </div>
</div>  
