<%= content_tag :tr, id: "todo-#{todo.id}" do %>
  <td><%= todo.title %></td>
  <td class="td-1">
    <% if todo.created_at + 7.days < Time.now %>
      0 days
    <% else %>
      <%= time_ago_in_words(todo.created_at + 7.days) %>
    <% end %>
  </td>
  <td>
    <label class="checkbox">

      <%= link_to todo, method: :delete, remote: true do %><input type="checkbox" value="" name=""><% end %>
      <span></span>
    </label>
  </td>
<% end %>