<% if @todo.destroyed? %>
	$('#todo-' +<%= @todo.id %>).fadeOut("slow");
	$('new-todo').prepend("<div class='alert alert-success'><%= flash[:error] %></div>");
<% else %>
	$('#todo-' +<%= @todo.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>